$boxShadow: 0 0 5px lightgray;
$hoverBoxShadow: 0 0 30px black;
$searchFilterLateralPadding: 20px;
$mobileLateralPadding: 20px;
$desktopLateralPadding: 85px;
$veryLightGray: hsl(0, 0%, 98%);
$veryDarkBlue: hsl(207, 26%, 17%);
$darkBlue: hsl(209, 23%, 22%);

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
}

body {
    .header {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px $mobileLateralPadding;
        box-shadow: $boxShadow;

        .title {
            font-size: 20px;
        }

        .mode-div {
            cursor: pointer;

            .mode-icon {
                margin-right: 10px;
            }
        }
    }

    .home {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 50px;
        padding: 50px $mobileLateralPadding;

        .search-and-filter-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;
            width: 100%;

            .search-container, .filter {
                box-shadow: $boxShadow;
                padding: 10px $searchFilterLateralPadding;
            }
    
            .search-container {
                .search-icon {
                    margin-right: 10px;
                }
    
                .search-bar {
                    border: none;
                    outline: none;
                    padding: 5px;
    
                    &::placeholder {
                        color: rgb(200, 200, 200);
                    }
                }
            }
    
            .filter {
                background: white;
                border: none;
                border-right: $searchFilterLateralPadding solid transparent;
                outline: none;
            }
        }

        .countries {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin: 0 auto;

            .country-link {
                text-decoration: none;

                .country {
                    display: grid;
                    grid-template-rows: repeat(2, 200px);
                    grid-template-columns: 350px;
                    box-shadow: $boxShadow;

                    &:hover {
                        box-shadow: $hoverBoxShadow;
                    }
    
                    .flag-container {
                        background-size: cover;
                        background-position: center center;
                        box-shadow: $boxShadow;
                    }
    
                    .country-info {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 10px;
    
                        .country-name {
                            margin-bottom: 20px;
                        }
    
                        .info-span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .selected-country {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 60px;

        .back-link, .border-country-link {
            text-decoration: none;
            box-shadow: $boxShadow;
            padding: 5px;
            width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &:hover {
                box-shadow: $hoverBoxShadow;
            }
        }

        .back-link {
            .arrow-left {
                margin-right: 10px;
            }
        }

        .main-content {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .flag-container {
                .selected-country-flag {
                    width: 100%;
                    height: 100%;
                }
            }
    
            .info {
                display: flex;
                flex-direction: column;
                gap: 40px;
    
                .info-1, .info-2 {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .info-span {
                        font-weight: bold;
                    }
                }
            }
    
            .border-countries {
                .border-countries-span {
                    font-weight: bold;
                }
    
                .border-country-link {
                    margin-top: 10px;
                    display: block;
                }
            }
        }
    }
}

body {
    .app.light {
        .header {
            background-color: white;
        }

        .home, .selected-country {
            background-color: $veryLightGray;
            color: black;
        }

        .home {
            .search-and-filter-container {
                .search-container, .filter {
                    background-color: white;
                }

                .search-container {
                    .search-bar {
                        background-color: white;
                    }
                }
            }

            .countries {
                .country-link {
                    color: black;
                }
            }
        }

        .selected-country {
            .back-link {
                color: black;
            }

            .main-content {
                .border-countries {
                    .border-country-link {
                        color: black;
                    }
                }
            }
        }
    }

    .app.dark {
        .header {
            background-color: $darkBlue;
            color: white;
        }

        .home, .selected-country {
            background-color: $veryDarkBlue;
            color: white;
        }

        .home {
            .search-and-filter-container {
                .search-container, .filter {
                    background-color: $darkBlue;
                    color: white;
                }

                .search-container {
                    .search-bar {
                        background-color: $darkBlue;
                        color: white;
                    }
                }
            }

            .countries {
                .country-link {
                    color: white;
                }
            }
        }

        .selected-country {
            .back-link {
                color: white;
            }

            .main-content {
                .border-countries {
                    .border-country-link {
                        color: white;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 800px) {
    body {
        .header, .home {
            padding-left: $desktopLateralPadding;
            padding-right: $desktopLateralPadding;
        }

        .home {
            .search-and-filter-container {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .selected-country {

            .main-content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "flag info";
                gap: 100px;

                .flag-container {
                    grid-area: flag;
                    height: 300px;
                }

                .info {
                    grid-area: info;
                    height: 1fr;
                    display: grid;
                    grid-template-areas:
                    "info-1 info-2"
                    "borders borders"
                    ;

                    .info-1 {
                        grid-area: info-1;
                    }

                    .info-2 {
                        grid-area: info-2;
                    }

                    .border-countries {
                        grid-area: borders;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1000px) {
    body {
        .home {
            .countries {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }
        }
    }
}

@media all and (min-width: 1250px) {
    body {
        .home {
            .countries {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}