@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans";
}

body .header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

body .header .title {
  font-size: 20px;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
  padding: 30px;
}

body .main .search-container, body .main .filter {
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
  padding: 10px 20px;
}

body .main .search-container .search-icon {
  margin-right: 10px;
}

body .main .search-container .search-bar {
  border: none;
  outline: none;
  padding: 5px;
}

body .main .search-container .search-bar::-webkit-input-placeholder {
  color: #c8c8c8;
}

body .main .search-container .search-bar:-ms-input-placeholder {
  color: #c8c8c8;
}

body .main .search-container .search-bar::-ms-input-placeholder {
  color: #c8c8c8;
}

body .main .search-container .search-bar::placeholder {
  color: #c8c8c8;
}

body .main .filter {
  background: white;
  border: none;
  border-right: 20px solid transparent;
  outline: none;
}

body .main .countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 0 50px;
  margin: 0 auto;
}

body .main .countries .country {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  -ms-grid-columns: 350px;
      grid-template-columns: 350px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

body .main .countries .country .flag-container {
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

body .main .countries .country .country-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

body .main .countries .country .country-info .country-name {
  margin-bottom: 20px;
}

body .main .countries .country .country-info .info-span {
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */