* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .header {
        border: 3px solid red;
    }

    .main {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;

        border: 3px solid blue;

        .countries {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0 50px;
            margin: 0 auto;

            .country {
                display: grid;
                grid-template-rows: repeat(2, 200px);
                grid-template-columns: 350px;
                box-shadow: 0 0 1em lightgray;

                .flag-container {
                    background-size: cover;
                    background-position: center center;
                    box-shadow: 0 0 .5em lightgray;
                }

                .country-info {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;

                    .country-name {
                        margin-bottom: 20px;
                    }

                    .info-span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}