@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans";
}

body .header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

body .header .title {
  font-size: 20px;
}

body .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
  padding: 50px 20px;
}

body .home .search-and-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  width: 100%;
}

body .home .search-and-filter-container .search-container, body .home .search-and-filter-container .filter {
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
  padding: 10px 20px;
}

body .home .search-and-filter-container .search-container .search-icon {
  margin-right: 10px;
}

body .home .search-and-filter-container .search-container .search-bar {
  border: none;
  outline: none;
  padding: 5px;
}

body .home .search-and-filter-container .search-container .search-bar::-webkit-input-placeholder {
  color: #c8c8c8;
}

body .home .search-and-filter-container .search-container .search-bar:-ms-input-placeholder {
  color: #c8c8c8;
}

body .home .search-and-filter-container .search-container .search-bar::-ms-input-placeholder {
  color: #c8c8c8;
}

body .home .search-and-filter-container .search-container .search-bar::placeholder {
  color: #c8c8c8;
}

body .home .search-and-filter-container .filter {
  background: white;
  border: none;
  border-right: 20px solid transparent;
  outline: none;
}

body .home .countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

body .home .countries .country-link {
  text-decoration: none;
  color: black;
}

body .home .countries .country-link .country {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  -ms-grid-columns: 350px;
      grid-template-columns: 350px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

body .home .countries .country-link .country:hover {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

body .home .countries .country-link .country .flag-container {
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

body .home .countries .country-link .country .country-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

body .home .countries .country-link .country .country-info .country-name {
  margin-bottom: 20px;
}

body .home .countries .country-link .country .country-info .info-span {
  font-weight: bold;
}

body .selected-country {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 60px;
}

body .selected-country .back-link, body .selected-country .border-country-link {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
  padding: 5px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .selected-country .back-link:hover, body .selected-country .border-country-link:hover {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

body .selected-country .back-link .arrow-left {
  margin-right: 10px;
}

body .selected-country .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

body .selected-country .main-content .flag-container .selected-country-flag {
  width: 100%;
  height: 100%;
}

body .selected-country .main-content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

body .selected-country .main-content .info .info-1, body .selected-country .main-content .info .info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body .selected-country .main-content .info .info-1 .info-span, body .selected-country .main-content .info .info-2 .info-span {
  font-weight: bold;
}

body .selected-country .main-content .border-countries .border-countries-span {
  font-weight: bold;
}

body .selected-country .main-content .border-countries .border-country-link {
  margin-top: 10px;
  display: block;
}

@media all and (min-width: 800px) {
  body .header, body .home {
    padding-left: 85px;
    padding-right: 85px;
  }
  body .home .search-and-filter-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .selected-country .main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "flag info";
    gap: 100px;
  }
  body .selected-country .main-content .flag-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: flag;
    height: 300px;
  }
  body .selected-country .main-content .info {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: info;
    height: 1fr;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "info-1 info-2" "borders borders";
  }
  body .selected-country .main-content .info .info-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: info-1;
  }
  body .selected-country .main-content .info .info-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: info-2;
  }
  body .selected-country .main-content .info .border-countries {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: borders;
  }
}

@media all and (min-width: 1000px) {
  body .home .countries {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media all and (min-width: 1250px) {
  body .home .countries {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=App.css.map */