* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .header {
        border: 3px solid red;
    }

    .main {
        padding: 20px;

        border: 3px solid blue;

        .countries {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .country {
                border: 3px solid orange;
                display: grid;
                grid-template-rows: repeat(2, 300px);

                .flag-container {
                    border: 3px solid red;
                    background-size: cover;
                    background-position: center center;
                }
            }
        }
    }
}